
spring:
  main:
    allow-circular-references: true
  jpa:
    generate-ddl: true
    open-in-view: false
    properties:
      hibernate:
        show_sql: false
        format_sql: false
        hbm2ddl:
          auto: update
  datasource:
    username: mysql
    password: mysql
    url: jdbc:mysql://localhost:3310/news_service_db
    hikari:
      schema: news_service_schema
      connection-ini-sql: CREATE SCHEMA IF NOT EXISTS news_service_schema


logging:
  level:
    root: info